.card{
    width: 998px;
    margin: 0 auto;
    text-align: center;
   padding: 26px 221px 44px 221px;
   
}
.header{
    background-image: url('../assets/Hero-bg.png');
   
    position: absolute;
width: 1869px;
height: 652px;
left: 0;
right: 0;
top: 131px;
bottom: 4465px;
}


.btn{
    padding: 12px 15px 12px 15px;
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
border-radius: 8px;

background: rgb(13, 19, 33);
border: none;
}
/* about */
.section-title{
    font-size: 32px;
font-weight: 800;
color: #0D1321;
}
.section-description{
    font-size: 16px;
    color: #0D1321;
}
.main{
    background-color: rgba(13, 19, 33, 0.02);
    max-width: 1140px;
    margin: 0px auto;
    border-radius: 16px;
    padding: 97px 80px;
   
    margin-top: 74px;
}
.center{
    text-align: center;

}
/* .banner-title */
.banner-title{
    font-size: 24px;
font-weight: 700; 
width: 390px;  
}
.banner-discription{
    font-size: 16px;
font-weight: 400;
}
.banner-profile-pic{
    width: 274.17px;
}
.banner-box{
    display: flex;
    justify-content: space-between;
    border-radius: 16px;

padding: 48px;
margin-top: 32px;
}
#box{

    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
#boxs{
    border-radius: 16px;

background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.baton{
    margin-top: 32px;
}
.banner-content{
    width: 477px;
height: 220px;
}
/* banner */
.heading{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}
.pra{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.main-s{
    max-width:  1140px;
    margin: 0 auto;
    padding: 0% 144px;
    text-align: center;
    margin-top: 88px;
}
.video{
 

width: 1140px;
height: 615px;
border-radius: 16px;
margin-top: 48px ;

}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    
}
.section-description{
    font-size: 16px;
    
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skills{
    max-width: 1140px;
    margin: 0px auto;
    border-radius: 16px;
    padding: 97px 80px;
   
    margin-top: 15px;
}
.skill{
    gap: 24px;
    padding: 40px;
    margin-top: 48px;

}
.caler{
   background-color: rgba(255, 76, 30, 0.05);
   border-radius: 16px;
}
.clr{
    border-radius: 16px;
    background-color: rgba(0, 76, 232, 0.05);
}
.cr{
    border-radius: 16px;
    background-color: rgba(255, 223, 0, 0.05);
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.secondary-bg{
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    margin: 0px auto;
     padding: , 48px, 64px, 48px;
    width: 1140px;
 }
 .form{
display: inline;
 }
 .col{
    background-color: rgba(13, 19, 33, 0.03);
    display: flex;
 }
 .pat{
    padding: 35px 900px 35px 150px;
 }
 .oo{
    margin-top: 40px;
 }